input {
  keyboard {
    xkb {
        layout "de";
    }
  }
}


output "eDP-1" {
    mode "1920x1080@60"
    scale 1.0
    position x=0 y=0
}

output "HDMI-A-4" {
  scale 1.0
  background-color "#003300"
  position x=-1920 y=0
}

binds {
    Mod+T { spawn "kitty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+Q { close-window; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+R { switch-preset-column-width; }

    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }

    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Right { focus-monitor-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Shift+E { quit skip-confirmation=false; }
}

layout {
    tab-indicator {
        on
    }
}
